<section class="topic active-hover">
    <article class="topic-info">
        <article class="topic-info-creation-wrap">
            <article class="topic-info-category">
                <span class="category">
                    <a [routerLink]="'/c/' + topic.category">
                        c/{{topic.category}}
                    </a>
                </span>
            </article>
            <article class="topic-info-creation">
                <span class="topic-info-creation-posted-by">
                    by
                    <a class="topic-info-creation-posted-by-username"
                        [routerLink]="'/u/' + topic.author">u/{{topic.author}}
                    </a>
                </span>
                <span class="topic-info-creation-date">{{formatDate(topic.createdAt)}}</span>
            </article>
        </article>
        <article class="topic-info-follow-category">
            <button *ngIf="followingCategories.includes(topic.category)" mat-button
                class="topic-info-follow-category-btn unfollow-category-btn" (click)="unfollowHandler()">Following</button>
            <button *ngIf="!followingCategories.includes(topic.category)" mat-raised-button
                class="topic-info-follow-category-btn" (click)="followHandler()">Follow</button>
        </article>
    </article>
    <article class="topic-content hover" (click)="navigateHandler()">
        <article class="topic-content-title">
            <h2 class="topic-title">{{topic.title}}</h2>
        </article>

        <article *ngIf="topic.imageUrl" class="topic-content-img scrollbox">
            <img [src]="topic.imageUrl" alt="image" class="topic-content-img-image" />
        </article>
        <article *ngIf="!topic.imageUrl" class="topic-content-description scrollbox">
            <p class="topic-content-description-text">{{topic.description}}</p>
        </article>

    </article>
    <article class="topic-functionality">
        <ul class="topic-functionality-list">
            <li class="topic-functionality-list-item topic-functionality-list-item-likes" (click)="likeHandler()">
                <fa-icon *ngIf="user && topic.likes.includes(user._id)" [icon]="icons.like" class="fas fa-heart">
                </fa-icon>
                <fa-icon *ngIf="!user || !topic.likes.includes(user._id)" [icon]="icons.dislike" class="far fa-heart">
                </fa-icon>
                <span class="likes-count">{{topic._likesCount}} Likes</span>
            </li>
            <li class="topic-functionality-list-item topic-functionality-list-item-comments" (click)="navigateHandler()">
                <fa-icon [icon]="icons.comment" class="fas fa-comment"></fa-icon>
                <span class="comments-count">{{topic.comments}} Comments</span>
            </li>
            <li class="topic-functionality-list-item topic-functionality-list-item-follow" (click)="saveHandler()">
                <span class="save-topic-text">
                    {{savedTopics.includes(topic._id) ? 'Unsave' : 'Save'}}
                </span>
                <fa-icon *ngIf="savedTopics.includes(topic._id)" [icon]="icons.save" class="fas fa-bookmark"></fa-icon>
                <fa-icon *ngIf="!savedTopics.includes(topic._id)" [icon]="icons.unsave" class="far fa-bookmark">
                </fa-icon>
            </li>
        </ul>
    </article>
</section>