<!-- topic._id -->
<!-- ? -->
<section class="topic">
    <article class="topic-info ">
        <article class="topic-info-creation-wrap">
            <article class="topic-info-category">
                <span class="category">
                    <a [routerLink]="'/c/' + topic.category">
                        category/{{topic.category}}
                    </a>
                </span>
            </article>
            <article class="topic-info-creation">
                <span class="topic-info-creation-posted-by">
                    by <a class="topic-info-creation-posted-by-username"
                        [routerLink]="'/u/' + topic.author">u/{{topic.author}}</a>
                </span>
                <span class="topic-info-creation-date">{{formatDate(topic.createdAt)}}</span>
            </article>
        </article>
        <article class="topic-info-follow-category">
            <button *ngIf="followingCategories.includes(topic.category)" mat-button
                class="topic-info-follow-category-btn unfollow-category-btn" (click)="handler()">Following</button>
            <button *ngIf="!followingCategories.includes(topic.category)" mat-raised-button
                class="topic-info-follow-category-btn" (click)="handler()">Follow</button>
        </article>
    </article>
    <article class="topic-content">
        <article class="topic-content-title">
            <h2 class="topic-title">
                {{topic.title}}
            </h2>
        </article>

        <article class="topic-content-description">
            <p class="topic-content-description-text">{{topic.description}}</p>
        </article>

        <article *ngIf="topic.imageUrl" class="topic-content-img">
            <img [src]="topic.imageUrl" alt="image" class="topic-content-img-image" />
        </article>

    </article>
    <article class="topic-functionality">
        <ul class="topic-functionality-list">
            <li class="topic-functionality-list-item topic-functionality-list-item-likes" (click)="handler()">
                <fa-icon *ngIf="user && topic.likes.includes(user._id)" [icon]="icons.like" class="fas fa-heart">
                </fa-icon>
                <fa-icon *ngIf="!user || !topic.likes.includes(user._id)" [icon]="icons.dislike" class="far fa-heart">
                </fa-icon>
                <span class="likes-count">{{topic._likesCount}} Likes</span>
            </li>
            <li class="topic-functionality-list-item topic-functionality-list-item-follow"
                [class]="isOwner ? 'owner' : ''" (click)="handler()">
                <span *ngIf="!isOwner" class="save-topic-text">
                    {{savedTopics.includes(topic._id) ? 'Unsave' : 'Save'}}
                </span>
                <fa-icon *ngIf="savedTopics.includes(topic._id)" [icon]="icons.save" [class]="saveIconClasses">
                </fa-icon>
                <fa-icon *ngIf="!savedTopics.includes(topic._id)" [icon]="icons.unsave" [class]="saveIconClasses">
                </fa-icon>
                <span *ngIf="isOwner" class="save-topic-text">
                    {{savedTopics.includes(topic._id) ? 'Unsave' : 'Save'}}
                </span>
            </li>

            <ng-container *ngIf="isOwner">
                <li class="topic-functionality-list-item topic-functionality-list-item-edit" (click)="handler()">
                    <button mat-button routerLink='edit' class='owner-functionality-button button-edit'>
                        Edit
                        <fa-icon [icon]="icons.edit" class="fas fa-pencil-alt"></fa-icon>
                    </button>
                </li>

                <li class="topic-functionality-list-item topic-functionality-list-item-delete ">
                    <button mat-button routerLink='delete' class='owner-functionality-button button-delete'>
                        Delete
                        <fa-icon [icon]="icons.delete" class="fas fa-trash"></fa-icon>
                    </button>
                </li>
            </ng-container>
        </ul>
    </article>
    <!-- <CommentSection [id]="topic._id" isAuthenticated={isAuthenticated} /> -->
</section>
<!-- : -->
<!-- <Spinner modalType='spinner' /> -->