.auth-section {
    height: fit-content;
    width: 40vw;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #262A37;
    border: 2px solid #313846;
    border-radius: 30px;
}

.avatar-title-container {
    display: flex;
    align-items: center;
    padding-right: 2rem;
}

.avatar-title-container .auth-title {
    margin-left: 25px;
}

.avatar-viewer {
    position: absolute;
    right: calc(30vw - 10rem);
    height: 24rem;
    width: calc(9rem + 5px);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
}

.avatar-viewer, .avatar-viewer * {
    z-index: -1;
}

@media all and (max-width: 1450px) {
    .auth-section {
        width: 60vw;
    }

    .avatar-viewer {
        right: calc(20vw - 10rem);
    }
}

@media all and (max-width: 900px) {
    .auth-section {
        width: 70vw;
    }

    .avatar-viewer {
        display: none;
    }
}

@media all and (max-width: 750px) {
    .auth-section {
        width: 80vw;
    }
}

@media all and (max-width: 600px) {
    .auth-section {
        width: 90vw;
    }

    .auth-bg-icon {
        display: none;
    }
}

.auth-title-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
}

.auth-title {
    font-size: 2.4rem;
}

.line-under-title {
    height: 2px;
    width: 80%;
    background: #313846;
}

.auth-bg-icon {
    font-size: 14rem;
    color: #323d57;
    position: absolute;
    z-index: -2;
}

.auth-top-left-icon {
    top: 12vh;
    left: 5vw
}

.auth-top-right-icon {
    top: 12.5vh;
    right: 3.5vw;
    font-size: 13.5rem;
}

.auth-bottom-left-icon {
    bottom: 4vh;
    left: 5vw;
}

.auth-bottom-right-icon {
    bottom: 4.5vh;
    right: 5vw;
}