<app-loader *ngIf="isLoading" class="no-posts-message"></app-loader>
<app-create-topic (closeCreateTopic)="trigger = $event" *ngIf="trigger"></app-create-topic>
<section class="content">
    <section class="topics">
        <app-aside [showSortAside]="!!topics && topics.length !== 0"></app-aside>

        <app-topic-heading [topicsType]="type" [content]="urlProp"></app-topic-heading>
        
        <app-create-topic-link *ngIf="type !== 'user'" (triggerCreateTopic)="trigger = $event"></app-create-topic-link>

        <app-no-posts-message *ngIf="!isLoading && topics!.length == 0" [type]="type">
        </app-no-posts-message>

        <app-topic-card *ngFor="let topic of topics" [topic]="topic"></app-topic-card>
    </section>
</section>