<app-loader *ngIf="isLoading" class="no-posts-message"></app-loader>
<!-- {showCreateTopicLink &&
    <Routes>
        <Route path="create" element={<CreateTopic />} />
    </Routes>} -->
<section class="content">
    <!-- <aside> -->
    <!-- {showBrowseCategories && <BrowseCategoriesAside />} -->
    <!-- {(showAside && topics?.length > 0) && <Aside />} -->
    <!-- </aside> -->
    <section class="topics">
        <app-topic-heading [topicsType]="type" [content]="urlProp"></app-topic-heading>
        <p *ngIf="!isLoading && topics!.length == 0" class="no-posts-message">
            No topics yet. Be the first to post one!
        </p>
        <app-topic-card *ngFor="let topic of topics" [topic]="topic"></app-topic-card>
    </section>
</section>