.avatar-container {
    border-radius: 50%;
    overflow: hidden;
    user-select: none;
    text-align: center;
    box-shadow: 0px 0px 7px -3px #86d6f9;
    cursor: pointer;
    color: rgb(109, 141, 255);
    position: relative;
}

.avatar {
    height: 100%;
    min-width: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.avatar-alt {
    max-height: fit-content;
    margin: 0 auto;
    text-shadow: 0px 0px 1px #4842f5;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}