<nav class="nav">
    <article class="nav-logo">
        <a routerLink="/">
            <img src="/assets/logo.png" alt="solvit" class="nav-logo-image" />
        </a>
    </article>

    <ul class="nav-list">
        <li class="nav-list-item main-nav-link">
            <a routerLink="/all" [class]="'a-to-all' + activeLink('/all')">All</a>
        </li>
        <li class="nav-list-item dropdown">
            <button #dropdownBtn [class]="'dropdown-btn' + activeLink('/c/') + activeCategoryMenu">
                Categories <fa-icon [icon]="icons.caretDown"></fa-icon>
            </button>
            <article class="dropdown-content">
                <a routerLink="/c/javascript"
                    [class]="'dropdown-content-link' + activeLink('/c/javascript')">JavaScript</a>
                <a routerLink="/c/java" [class]="'dropdown-content-link' + activeLink('/c/java')">Java</a>
                <a routerLink="/c/csharp" [class]="'dropdown-content-link' + activeLink('/c/csharp')">C#</a>
                <a routerLink="/c/python" [class]="'dropdown-content-link' + activeLink('/c/python')">Python</a>
                <a routerLink="/c/c++" [class]="'dropdown-content-link' + activeLink('/c/c++')">C++</a>
                <a routerLink="/c/php" [class]="'dropdown-content-link' + activeLink('/c/php')">PHP</a>
                <a routerLink="/c/devops" [class]="'dropdown-content-link' + activeLink('/c/devops')">DevOps</a>
                <a routerLink="/c/qa" [class]="'dropdown-content-link' + activeLink('/c/qa')">QA</a>

                <a routerLink="/c/front-end" class="dropdown-content-link inner-dropdown-btn">
                    Front-end <fa-icon [icon]="icons.caretDown"></fa-icon>
                </a>
                <article class="inner-dropdown-content">
                    <a routerLink="/c/react" [class]="'dropdown-content-link' + activeLink('/c/react')">React</a>
                    <a routerLink="/c/jquery" [class]="'dropdown-content-link' + activeLink('/c/jquery')">jQuery</a>
                    <a routerLink="/c/angular" [class]="'dropdown-content-link' + activeLink('/c/angular')">Angular</a>
                    <a routerLink="/c/vue.js" [class]="'dropdown-content-link' + activeLink('/c/vue.js')">Vue.js</a>
                </article>

                <a routerLink="/c/back-end" class="dropdown-content-link inner-dropdown-btn">
                    Back-end <fa-icon [icon]="icons.caretDown"></fa-icon>
                </a>
                <article class="inner-dropdown-content">
                    <a routerLink="/c/node.js" [class]="'dropdown-content-link' + activeLink('/c/node.js')">Node.js</a>
                    <a routerLink="/c/spring" [class]="'dropdown-content-link' + activeLink('/c/spring')">Spring</a>
                    <a routerLink="/c/asp.net" [class]="'dropdown-content-link' + activeLink('/c/asp.net')">ASP.NET</a>
                    <a routerLink="/c/django" [class]="'dropdown-content-link' + activeLink('/c/django')">Django</a>
                </article>

                <a routerLink="/c/other" [class]="'dropdown-content-link' + activeLink('/other')">Other</a>
            </article>
        </li>
        <ng-container *ngIf="isAuth">
            <li class="nav-list-item main-nav-link">
                <a routerLink="/saved" [class]="activeLink('/saved')">Saved Topics</a>
            </li>
            <li class="nav-list-item main-nav-link">
                <div #avatar>
                    <div class="avatar-background upper" [@upper-avatar]="userMenuIsOpen? 'active' : 'inactive'"></div>
                    <app-avatar size="3rem" image="https://www.blexar.com/avatar.png" alt="A">
                    </app-avatar>
                    <div class="avatar-background" [@avatar]="userMenuIsOpen? 'active' : 'inactive'"></div>
                </div>
            </li>
            <app-user-menu [userMenuIsOpen]="userMenuIsOpen"></app-user-menu>
        </ng-container>
        <ng-container *ngIf=" !isAuth">
            <li class="nav-list-item main-nav-link">
                <a routerLink="/login" [class]="'auth-btn login-btn' + activeLink('/user/login')">Log In</a>
            </li>
            <li class="nav-list-item main-nav-link">
                <a routerLink="/register" [class]="'auth-btn register-btn' + activeLink('/user/register')">Sign Up</a>
            </li>
        </ng-container>
    </ul>
</nav>