<nav class="nav">
    <article class="nav-logo">
        <a routerLink="/">
            <img src="/assets/logo.png" alt="solvit" class="nav-logo-image" />
        </a>
    </article>

    <ul class="nav-list">
        <li class="nav-list-item main-nav-link">
            <a routerLink="/all" [class]="'a-to-all' + activeLink('/all')">All</a>
        </li>
        <li class="nav-list-item dropdown">
            <button #dropdownBtn [class]="'dropdown-btn' + activeLink('/c/') + activeCategoryMenu">
                Categories <fa-icon [icon]="icons.caretDown"></fa-icon>
            </button>
            <article class="dropdown-content">
                <a *ngFor="let category of mainCategories" [routerLink]="'/c/' + category"
                    [class]="'dropdown-content-link' + activeLink('/c/' + category)">{{formatCategory(category)}}</a>

                <a routerLink="/c/front-end" class="dropdown-content-link inner-dropdown-btn">
                    Front-end <fa-icon [icon]="icons.caretDown"></fa-icon>
                </a>
                <article class="inner-dropdown-content">
                    <a *ngFor="let feCategory of frontEnd" [routerLink]="'/c/' + feCategory"
                        [class]="'dropdown-content-link' + activeLink('/c/' + feCategory)">{{formatCategory(feCategory)}}</a>
                </article>

                <a routerLink="/c/back-end" class="dropdown-content-link inner-dropdown-btn">
                    Back-end <fa-icon [icon]="icons.caretDown"></fa-icon>
                </a>
                <article class="inner-dropdown-content">
                    <a *ngFor="let beCategory of backEnd" [routerLink]="'/c/' + beCategory"
                        [class]="'dropdown-content-link' + activeLink('/c/' + beCategory)">{{formatCategory(beCategory)}}</a>
                </article>

                <a routerLink="/c/other" [class]="'dropdown-content-link' + activeLink('/other')">Other</a>
            </article>
        </li>
        <ng-container *ngIf="isAuth">
            <li class="nav-list-item main-nav-link">
                <a routerLink="/saved" [class]="activeLink('/saved')">Saved Topics</a>
            </li>
            <li class="nav-list-item main-nav-link">
                <div #avatar>
                    <div class="avatar-background upper" [@upper-avatar]="userMenuIsOpen? 'active' : 'inactive'"></div>
                    <app-avatar size="3rem" [image]="user!.imageUrl" [alt]="user!.username[0]">
                    </app-avatar>
                    <div class="avatar-background" [@avatar]="userMenuIsOpen? 'active' : 'inactive'"></div>
                </div>
            </li>
            <app-user-menu [userMenuIsOpen]="userMenuIsOpen"></app-user-menu>
        </ng-container>
        <ng-container *ngIf=" !isAuth">
            <li class="nav-list-item main-nav-link">
                <a routerLink="/user/login" [class]="'auth-btn login-btn' + activeLink(['/login', '/user/login'])">
                    Log In
                </a>
            </li>
            <li class="nav-list-item main-nav-link">
                <a routerLink="/user/register"
                    [class]="'auth-btn register-btn' + activeLink(['/register', '/user/register'])">Sign Up</a>
            </li>
        </ng-container>
    </ul>
</nav>