<form #form="ngForm" class="auth-form" (ngSubmit)="editProfileHandler(form)">
    <div>
        <!-- errors -->
        <article class="error-popup" *ngIf="username.errors && username.touched">
            <p class="error-popup-content">
                <ng-container *ngIf="username.errors['required'] || username.errors['pattern']">
                    Username is required
                </ng-container>
            </p>
        </article>
        <!--  -->
        <label class="auth-form-label" for="username">Username<span class="required-asterisk">*</span></label>
        <input [ngModel]="user?.username" #username="ngModel" class="auth-form-input" type="username" id="username"
            name="username" placeholder="John Doe" required pattern=".*[\S]+.*" />
    </div>

    <div class="no-style">
        <label class="auth-form-label auth-form-imageUrl-label" for="imageUrl" (click)="toggleShowImageInputHandler()">
            Avatar icon
            <fa-icon [icon]="icons.caretRight" *ngIf="!showImageInput"></fa-icon>
            <fa-icon [icon]="icons.caretDown" *ngIf="showImageInput"></fa-icon>
            {{showImageInput? 'Upload image or paste url' : ''}}
        </label>
        <div [@openClose]="showImageInput? 'open' : 'closed'" class="avatar-icon image-input">
            <!-- errors -->
            <article class="error-popup" *ngIf="file && !fileUpload.files?.item(0)?.type?.startsWith('image/')">
                <p class="error-popup-content">
                    Only images allowed
                </p>
            </article>
            <!--  -->
            <!-- errors -->
            <article [@avatarError]="showImageInput? 'open' : 'closed'"
                [ngClass]="['error-popup', 'avatar-error', showImageInput? '' : 'closed']"
                *ngIf="imageUrl.errors && imageUrl.touched">
                <p class="error-popup-content">
                    <ng-container *ngIf="imageUrl.errors['matchPattern']">
                        URL must start with HTTP
                    </ng-container>
                </p>
            </article>
            <!--  -->
            <div class="image-input-file">
                <input #fileUpload type="file" name="file" class="file-input" (change)="fileChangeValueHandler($event)">
                <div class="file-upload">
                    <button type="button" mat-mini-fab color="warn" class="upload-btn"
                        aria-label="Click to upload an image from your files" (click)="fileUpload.click()">
                        <mat-icon>attach_file</mat-icon>
                    </button>
                </div>
            </div>
            <div class="image-input-url">
                <input #imageUrlInput [ngModel]="fileUpload.files?.item(0)?.name || user?.imageUrl || ''"
                    #imageUrl="ngModel" type="url" name="imageUrl" id="imageUrl" class="auth-form-input imageUrl"
                    placeholder='https://myawesomeimage.com/solvit-is-the-best.png' [matchPattern]="patterns.url"
                    [disabled]="!!file" (input)="emitImageUrl(imageUrl.value.trim())" />
            </div>
            <button type="button" mat-icon-button color="warn" class="remove-uploaded-image"
                aria-label="Remove image file or image url"
                (click)="resetImageValuesHandler([imageUrlInput, fileUpload])">
                <mat-icon>remove_circle_outline</mat-icon>
            </button>
        </div>
    </div>

    <div>
        <!-- errors -->
        <article class="error-popup" *ngIf="password.errors && password.touched">
            <p class="error-popup-content">
                <ng-container *ngIf="password.errors['required']; else minlengthPassword">
                    Password is required
                </ng-container>
                <ng-template #minlengthPassword>
                    <ng-container *ngIf="password.errors['minlength']; else patternPassword">
                        Password should be at least 6 characters long
                    </ng-container>
                </ng-template>
                <ng-template #patternPassword>
                    <ng-container *ngIf="password.errors['matchPattern']">
                        Password can only consist of letters, digits and common symbols
                    </ng-container>
                </ng-template>
            </p>
        </article>
        <!--  -->
        <article class="auth-form-password-label-wrap">
            <label class="auth-form-label" for="password">Password<span class="required-asterisk">*</span></label>
        </article>
        <article class="auth-form-see-password" (click)="togglePasswordVisibilityHandler()">
            <fa-icon *ngIf="passwordType === 'password'" [icon]="icons.crossedEye" class="fa-eye-slash"></fa-icon>
            <fa-icon *ngIf="passwordType !== 'password'" [icon]="icons.eye" class="fa-eye"></fa-icon>
        </article>
        <input ngModel #password="ngModel" class="auth-form-input" [type]="passwordType" id="password" name="password"
            required [minlength]="6" [matchPattern]="patterns.password" />
    </div>
    <div class="submit-container">
        <input class="auth-form-submit" type="submit" value="Edit Profile" [disabled]="form.invalid" />
    </div>
</form>