*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
}

html {
    font-size: 2vmin;
    color: #d7dadcf1;
    font-weight: 500;
}

body {
    margin: 0 auto;
    background: #282c34;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

@media all and (max-width: 700px) {
    html {
        font-size: 3vmin;
    }
}

main {
    margin: auto;
}

/*Scrollbar*/
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #282C34;
}

::-webkit-scrollbar-thumb {
    background: #3c4253;
    border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
    background: gray;
}

/*Modal*/
.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.4);
}

.comments-spinner-modal {
    position: relative;
    border-radius: 20px;
}

body {
    margin: 0;
}

/* notification */

.mat-snack-bar-container {
    padding: 0 !important;
    min-height: 0 !important;
    max-width: none !important;
    border-radius: 4px !important;
    background-color: transparent !important;
}

/* form */
.required-asterisk {
    font-size: 0.75rem;
    position: relative;
    bottom: 5px;
    color: rgb(158, 50, 50);
    margin-left: 1px;
}

/* form errors */
.error-popup {
    user-select: none;
    position: absolute;
    bottom: calc(1.2rem + 44px);
    left: 50%;
    transform: translate(-50%, 0);
    width: fit-content;
    padding: 4px 8px;
    background: rgb(202, 38, 38);
    color: inherit;
    border-radius: 4px;
    font-weight: 400;
}

.error-popup::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 90%;
    border: 12px solid transparent;
    transform: translate(-50%, 0px);
    border-top-color: rgb(202, 38, 38);
}

p.error-popup-content {
    margin: 0 auto;
    width: fit-content;
}

/* topic form - category select */
.mat-form-field {
    min-width: 30%;
}

div.mat-form-field-wrapper {
    padding-bottom: 0;
}

.mat-error, .mat-hint {
    margin-top: 1rem;
}

.mat-form-field-underline {
    bottom: auto;
}

.mat-form-field-flex {
    padding: 0.45rem 0.45rem 0 0.45rem !important;
}

.mat-form-field-infix {
    padding-bottom: 0.5rem !important;
}

.mat-option {
    height: 2.55rem !important;
}

.mat-optgroup-label {
    height: 2.6rem !important;
}

/* mat buttons */
@media all and (max-width: 500px) {
    .mat-button, .mat-raised-button {
        line-height: 2rem !important;
        padding-inline: 0 !important;
    }
}